includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    # The level 9 is the highest level
    level: 7
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#PHPDoc tag @throws with type .*?Psr\\SimpleCache\\InvalidArgumentException.*? is not subtype of Throwable#'
    excludePaths:
        - ./*/*/FileToBeExcluded.php
        - ./vendor/**
        - ./app/Library/Services/**
        - ./app/Temporal/**
        - ./tests/**
        - ./storage/**
        - ./bootstrap/cache/**
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
