// Fonts
@import url("https://fonts.googleapis.com/css?family=Helvetica:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-select/dist/css/bootstrap-select.css";

body.general-body {
  padding-top: 60px;
  div.general-nav-col {
    padding: 0px 4px;
    .navbar-form{
      padding: 0px 3px;
    }
  }
  ul.general-nav li a {
    padding: 7px;
  }
  .jumbotron {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

div.nav-search {
  padding-top: 7px;
  padding-bottom: 7px;
}

.product-list {
  .product-cart {
    margin-bottom: 15px;
    .cart-wrapper {
      border: 1px solid gray;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      text-align: center;
      .cart-header {
        height: 6em;
        position: relative;
        .product-shop-desc {
          text-align: justify;
          padding: 0px 7px;
        }
        .effect {
          top: 55px;
          position: absolute;
          border-radius: 3px;
          border: 1px solid #ddd;
          display: block;
          width: 100%;
          padding: 0 4px 0 4px;
          height: 100%;
          .glyphicon {
            vertical-align: top;
            -webkit-transition: 0.6s ease-out;
            -moz-transition: 0.6s ease-out;
            transition: 0.6s ease-out;
          }
          .spacer {
            background-color: #fff;
            height: 100%;
          }
        }
      }
      .thumbnail img {
        max-width: 100%; /* do not stretch the bootstrap column */
      }

      .img-wrapper {
        width: 100%;
        padding-bottom: 100%; /* your aspect ratio here! */
        position: relative;
      }

      .img-wrapper img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 200px; /* optional: if you want the smallest images to fill the .thumbnail */
      }
    }
  }
}

.form-group.required .control-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
  top:7px;
}

.footer {
  background-color: #eeeeee;
}

@media (max-width: 767px) {
  body.general-body {
    padding-top: 110px;
  }
}
//xs-sm-md
@media (min-width: 768px) and (max-width: 1199px) {
  body.general-body {
    padding-top: 80px;
  }
  ul.general-nav{
    li {
      width: 100%;
      a {
        float: right;
      }
    }
  }
}