
// Fonts
@import url("https://fonts.googleapis.com/css?family=Helvetica:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

div.nav-search {
  padding-top: 7px;
  padding-bottom: 7px;
}

.thumbnail img{
  max-width: 100%; /* do not stretch the bootstrap column */
}

.img-wrapper{
  width: 100%;
  padding-bottom: 100%; /* your aspect ratio here! */
  position: relative;
}

.img-wrapper img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 200px; /* optional: if you want the smallest images to fill the .thumbnail */
}
