// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap-select/dist/css/bootstrap-select.css";

body.general-body {
  padding-top: 60px;
  div.general-nav-col {
    padding: 0px 4px;
    .navbar-form{
      padding: 0px 3px;
    }
  }
  ul.general-nav li a {
    padding: 7px;
  }
  .jumbotron {
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

div.nav-search {
  padding-top: 7px;
  padding-bottom: 7px;
}

.product-list {

}

.form-group.required .control-label:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 8px;
  top:7px;
}

.footer {
  background-color: #eeeeee;
}

@media (max-width: 767px) {
  body.general-body {
    padding-top: 110px;
  }
}
//xs-sm-md
@media (min-width: 768px) and (max-width: 1199px) {
  body.general-body {
    padding-top: 80px;
  }
  ul.general-nav{
    li {
      width: 100%;
      a {
        float: right;
      }
    }
  }
}